<ion-header class="header" [ngClass]="{ 'mobile-view': isMobile }">
  <ion-toolbar class="transparent-toolbar">
    <div class="header-container">
      <div class="header-left">
        <ion-menu-toggle>
          <ion-button fill="clear" color="light">
            <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
        <img
          src="assets/icon/favicon.ico"
          alt="Logo Vehículo"
          class="header-logo"
        />
      </div>
      <div class="header-center" [ngClass]="{ 'd-none': isMobile }">
        <ion-title class="header-title-center">{{
          currentTitle$ | async
        }}</ion-title>
      </div>

      <div class="header-right" *ngIf="currentUser">
        <app-dropdown-usuario
          [userName]="currentUser.priNomUsu"
          [userRole]="currentUser.rol"
        >
        </app-dropdown-usuario>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
